/*index—p‚ÌCSS*/
@charset "utf-8";

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	/*background-color:rgba(224,224,224,0.4);*/
	color: rgba(64,64,64,0.9);

}


.header_area {
	margin:0 auto;

	height:100px;
	width:80%;
	background-size: cover;
	/*background-image:url("../images/mountain.jpg");*/
}

.btn_area {
	margin: 0 auto;
	text-align: center;
	width: 80%;
	border-bottom: solid 1px;
}

.btn_area .btn {
	margin:10px;
	padding:2px;
	text-align:center;
	width: 80px;
	height: 40px;
	border-radius: 3px;
	border-style: none;
	/*background-color:rgba(96,96,96,0.5);*/
	background-color:rgba(234,234,234,0.5);
	display:inline-block;
	
}
.btn:hover {
	transition: all 0.5s;
	background-color: rgba(234,234,234,0.8);
}

.btn_area p::first-letter{
	color:red;
	font-size:18px;
	color:rgba(22,22,14,1);
}
